/* Raiz de la web */
:root {
  /* Paleta de colores */
  --background: #02050e;
  --primary: #1e50ff;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;
  --fire: #ff6d00;
  --electric: #64d3ff;

  /* Fuentes */
  --font-family: "Poppins";
  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 24px;
  --title: 48px;
  --subtitle: 32px;

  --bold: 800;
  --medium: 600;
  --thin: 300;

  /* Otros */
  --max-width: 1200px;
  --rounded-sm: 8px;
  --rounded-full: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--font-family), sans-serif;
}

a {
  color: inherit;
}

/* ==================================== */
/* ============== Utils =============  */
/* ==================================== */

.btn {
  background-color: var(--primary);
  color: var(--text-white);
  border: none;
  padding: 10px 25px;
  border-radius: var(--rounded-sm);
  cursor: pointer;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--electric);
}

/* Esta es una manera para evitar escribir tanto flex y utilizar clases al estilo de tailwind */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.flexalgo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==================================== */
/* ============== Header =============  */
/* ==================================== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary);
  padding: 15px 30px;
  color: var(--text-gray);
  /* height: 65px; */
}

.navbar {
  display: flex;
  gap: 90px;
  /* align-items: center;
  justify-content: center; */
}

.navbar-list {
  display: flex;
  gap: 20px;
  font-size: var(--font-sm);
}

.logo {
  height: 30px;
}

.active {
  font-weight: var(--bold);
  color: var(--text-white);
}

body {
  background-color: var(--background);
  color: var(--text-white);
}

/* ==================================== */
/* ============== Hero ===============  */
/* ==================================== */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--max-width);
  padding: 70px 0;
  gap: 50px;
  /* background-color: red; */
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  align-items: start;
}

.hero-info h1 {
  /* font-size: 48px; */
  font-size: var(--title);
  font-weight: var(--bold);
}

.hero-info p {
  color: var(--text-gray);
  font-size: var(--font-sm);
  width: 85%;
}

.hero-info strong {
  font-weight: var(--bold);
  color: var(--text-white);
}

/* Card */
.hero-card {
  background-color: var(--secondary);
  padding: 20px;
  border-radius: var(--rounded-sm);
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
}

.hero-card-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-card-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-card-top h2 {
  /* whitespace es para controlar si el texto salta de linea si no entra en la caja  */
  white-space: nowrap;
  overflow: hidden;
  /* Textoverflow controla el excedente del overflow  */
  text-overflow: ellipsis;
}

.hero-card-top span {
  background-color: var(--primary);
  padding: 5px 15px;
  border-radius: var(--rounded-sm);
  font-size: var(--font-sm);
}

.hero-card-bottom {
  display: flex;
  justify-content: space-between;
}

.hero-card-creator {
  display: flex;
  gap: 10px;
  align-items: center;
}

.hero-card-creator img {
  height: 40px;
}

.creator-title,
.hero-card-price p {
  color: var(--text-gray);
  font-size: var(--font-xs);
}

.creator-name {
  font-size: var(--font-sm);
  color: var(--text-white);
}

.hero-card-price .price {
  font-weight: var(--medium);
  font-size: 16px;
}

/* ==================================== */
/* ============== INFO ===============  */
/* ==================================== */
#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  max-width: var(--max-width);
  padding: 5rem 0;
}

#info h2 {
  font-size: var(--subtitle);
}

.info-cards-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.info-card {
  background-color: var(--secondary);
  max-width: 300px;
  padding: 2rem 1rem;
  border-radius: var(--rounded-sm);
  gap: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-card img {
  width: 50px;
}

.info-card p {
  font-size: var(--font-sm);
  color: var(--text-gray);
}

/* ==================================== */
/* ============ DISCOVER =============  */
/* ==================================== */
#discover {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  /* background-color: green; */
  /* overflow: hidden; */
}

.discover-info {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.discover-info h2 {
  font-size: var(--subtitle);
  width: 45%;
}

.discover-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  color: var(--text-gray);
}

.discover-text a {
  color: var(--text-white);
  text-decoration: underline;
  font-weight: var(--medium);
}

.discover-cards {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.discover-cards img {
  /* Es a cada imagen dentro de discover-cards le damos un tamano del 30% de los 1200px que tiene el padre (#DISCOVER) */
  width: 30%;
}

/* ==================================== */
/* ============ PRODUCTS =============  */
/* ==================================== */
#products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem 0;
  max-width: var(--max-width);
}

#products h2 {
  font-size: var(--subtitle);
}

.categories {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.category {
  background-color: var(--btn-bg);
  border: none;
  color: var(--text-white);
  padding: 10px 15px;
  border-radius: var(--rounded-sm);
  cursor: pointer;
}

/* Para cuando un boton esté activo */
.category-active {
  background-color: var(--primary);
}

/* ctrl + c Copiar */
/* ctrl + v Pegar */
/* ctrl + z Volver atras */
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.product {
  background-color: var(--secondary);
  padding: 1rem;
  /* Top left  top right bottom right bottom left*/
  border-radius: 36px 36px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.3rem;
}

.product-top,
.product-mid,
.product-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-top h3 {
  font-size: 1rem;
  font-weight: var(--medium);
}

.product-top p,
.product-user p {
  color: var(--text-gray);
}

.product-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-price {
  font-weight: var(--medium);
  font-size: 1.5rem;
}

.offer-time {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: var(--medium);
}

.offer-time img {
  width: 16px;
}